:root { 
--white_A700_33:#ffffff33; 
--deep_purple_900_30:#2b17b030; 
--indigo_900:#3c2a6d; 
--black_900_3f:#0000003f; 
--white_A700:#ffffff; 
--gray_300:#e2e1e5; 
--deep_purple_900_b2:#2b17b0b2; 
--deep_purple_900_7f:#2b17b07f; 
--deep_purple_900_c1:#2b17b0c1; 
}